<div class="container" id="background-container">
    <div id="license">
        <br>
        <br>
        <h1>Lizenz</h1>
        <br>
        <br>
        <h5>Urheber: Siwar Aouididi, Ala Al-Khazzan, Marc Zimmermann und Leon Wagner</h5>
        <p>
            <br>
            Unsere Software unterliegt einem dualen Lizensierungsmodell, da wir bei dem Mitgliedsstatus des Benutzers differenzieren wollen.
            <br>
            <br>
            1. PI-Informatik Mitarbeiter: RCL
            RCL erlaubt es PI-Informatik Mitarbeitern unsere Applikation zu modifizieren und weiterzuverbreiten, ohne dabei den Quelltext offen legen zu müssen.
            <a>
                <a href="https://gitlab.rz.htw-berlin.de/softwareentwicklungsprojekt/wise2021-22/team4/-/blob/master/RCL-LICENSE">Mehr Infos</a>
            </a>
            <br>
            <br>
            2. Benutzer, die nicht zu PI-Informatik gehören: GPL 2.0
            Aufgrund der GPL 2.0 müssen alle Benutzer, welche nicht Angehörige der PI-Informatik sind, ihren Quellcode freizugänglich machen.
            <a>
                <a href="https://gitlab.rz.htw-berlin.de/softwareentwicklungsprojekt/wise2021-22/team4/-/blob/master/GPL-v2.0-LICENSE">Mehr Infos</a>
            </a>
        </p>
    </div>
</div>
